# Ignore environment variable files
*.envrc*

# Ignore Vim plugin directories and history
vim/.vim/plugged/
vim/.vim/.netrwhist

# Ignore Tmux plugin directories
tmux/.tmux/plugins/

# Ignore specific configuration directories
config/.config/github-copilot/
config/.config/tmuxinator/
config/.config/htop/
config/.config/op
config/.config/hut
